@import 'register.css';
@import 'login.css';

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    background-color: var(--amarillo);
}

.caja-logo{
    width: 30%;
    padding: 10px;

}

.header-superior{
    display: flex;
    flex-wrap: wrap;
}

.buscador{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 50%;
    position: relative;
}

.input{
    background-color: #fff;
    color: var(--gris-oscuro);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.icono-buscador{
    background-color: #fff;
    border-left: 1px solid #000;
    color: var(--gris-oscuro);
    position: absolute;
    right: 8px;
    padding: 3px;
}

.forma-pago{
    width: 35%;
    text-align: center;
    font-size: 15px;
}
nav.nav-bar{
    display: none;
}

header ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
    padding: 8px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: var(--celeste);
color: #fff;
font-size: 20px;
border-radius: 5px;
padding: 12px;
margin: 10px 0 20px 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
}

main{
    width: 90vw;
    margin: auto;
}

.banner{
    width: 100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-info{
    display: flex;
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
}

.product-info i{
    font-size: 16px;
    width: 35px;
    height: 35px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.80s;
}

article:hover .product-info i{
    transform: rotate(-360deg);
}

article{
    margin-bottom: 10px;
    background-color: #fff;
    width: 80%;
    transition: all 0.5s;
}

article:hover{
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

article:hover .descripciones{
    display: block;
}

article img{
    width: 100%;
}

h3.titulares{
    font-size: 24px;
    text-align: center;
}

.precios{
    font-size: 18px;
    width: 30%;
    text-align: left;
}

.descuentos{
    font-size: 16px;
    color: var(--verde);
    width: 70%;
    text-align: right;
}

h4.descripciones{
    font-size: 16px;
    display: none;
    color: var(--gris-oscuro);
}

footer{
    padding: 40px 0 0 0;
    background-color: #fff;
}

.contenido{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contenido h5{
    color: var(--gris-oscuro);
}

.contenido p{
    font-size: x-small;
}

#copyright{
    padding: 18px 20px;
}

.contenido i{
    color: var(--celeste);
    padding: 20px 0 8px 0;
    font-size: 32px;
    transition: all 1s;
}

.contenido:hover i{
    color: var(--verde);
    font-size: 40px;
}


@media (min-width: 320px){
    article{
        width: 44%;
    }
    .productos{
        justify-content: space-around;
    }
    .buscador{
        width: 35%;
    }
}

@media (min-width: 425px){
    .burger-menu i{
        display: none;
    }
    nav.nav-bar{
        display: flex;
        padding: 0px 13px 11px 13px;
        justify-content: space-between;
    }
}

@media (min-width: 769px){
    article{
        width: 20%;
    }
    .productos{
        justify-content: space-between;
    }
    ul {
        display: flex;
    }
    a{
        width: 30%;
    }
    .buscador{
        width: 40%;
    }
    .forma-pago{
        width: 30%;
        align-self: center;
        
    }
    .contenido{
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
    .contenido i{
        display: flex;
        justify-content: space-around;
    }
}